In [574]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
import seaborn as sns 
%matplotlib inline

In [575]:
df = pd.read_csv("loan_data.csv")

In [576]:
df.head()

,Unnamed: 0,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,age
0,1,0,5000,10.65,B,10.0,RENT,24000.0,33
1,2,0,2400,12.00,C,25.0,RENT,12252.0,31
2,3,0,10000,13.49,C,13.0,RENT,49200.0,24
3,4,0,5000,22.00,A,3.0,RENT,36000.0,39
4,5,0,3000,22.00,E,9.0,RENT,48000.0,24

In [577]:
df['home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [578]:
df['grade'] = df['grade'].astype('category').cat.codes
df['home_ownership'] = df['home_ownership'].astype('category').cat.codes

In [579]:
df.head()

,Unnamed: 0,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,age
0,1,0,5000,10.65,1,10.0,3,24000.0,33
1,2,0,2400,12.00,2,25.0,3,12252.0,31
2,3,0,10000,13.49,2,13.0,3,49200.0,24
3,4,0,5000,22.00,0,3.0,3,36000.0,39
4,5,0,3000,22.00,4,9.0,3,48000.0,24

In [580]:
df['home_ownership'].unique()

array([3, 2, 0, 1], dtype=int8)

In [581]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df =df. dropna()

In [582]:
dependent_variable = 'loan_status'
independent_variables = df.columns.tolist()
independent_variables.remove(dependent_variable)

In [583]:
X = df[independent_variables] 
y = df[dependent_variable]

In [584]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=500000)

In [585]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [586]:
predictions = dtree.predict(X_test)

In [587]:
from sklearn.metrics import classification_report,confusion_matrix

In [598]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.89      0.87      0.88     11455
           1       0.44      0.48      0.46      2440

    accuracy                           0.80     13895
   macro avg       0.67      0.68      0.67     13895
weighted avg       0.81      0.80      0.81     13895

In [599]:
import pickle
file = open('decision_tree_loanprediction5.pkl','wb')
pickle.dump(dtree,file)

In [600]:
model = pickle.load(open('decision_tree_loanprediction5.pkl', 'rb'), encoding='utf-8')

In [591]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_SS=scaler.fit_transform(X_train)
X_test_SS=scaler.fit_transform(X_test)

In [592]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train_SS,y_train)

DecisionTreeClassifier()

In [593]:
predictions = dtree.predict(X_test_SS)

In [594]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.89      0.87      0.88     11455
           1       0.44      0.48      0.46      2440

    accuracy                           0.80     13895
   macro avg       0.67      0.68      0.67     13895
weighted avg       0.81      0.80      0.81     13895